.App {
  text-align: center;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.title{
  color: rgba(250, 240, 226, 0.979);
  font-family: fantasy ;
  margin-top: 10%;
}
.form{
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 35%;
}
.button-primary{
  border-radius: 5px;
  padding: 5px;
  border: none;
  margin-left :3px ;
  font-family: cursive;
}
.input-field{
  width: 170px;
  opacity: .75;
  color:black;
}
.submit-button{
  margin-left: 3px;
  background-color:white;
}
.filter-button{
  margin-left: 30%;
}
.todo-field{
  background-color: white;
  display: inline-block;
  width: 100px;
  text-align: left;
  padding: 3px;
  border-radius: 5px;
}
.todo-div{
  margin-top: 30px;
}
.todos{
  margin-top: 3px;
}
.delete-btn{
  background-color:red;
}
.check-btn{
  background-color: chartreuse;
}
.compeleted{
  
}